body {
	--background-color: #112;
	--blanket-fill: #0009;
	--modal-fill: #224;
	--text-color: white;
	--border: #fff6;
	--border-button-hover: #0ff;
	--border-button-pressed: #f0f;

	background-color: var(--background-color);
	color: var(--text-color);
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

#main {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	padding: 8px;
}

#quest-container {
	width: 300px;
	padding: 8px;
	border-left: 1px solid var(--border);
	min-height: 100vh;
	box-sizing: border-box;
}

*[data-hidden=true] {
	visibility: hidden;
	display: none !important;
}

inline {
	display: flex;
	flex-direction: row;
	gap: 8px;
	align-items: center;
}

inline[data-align="top"] {
	align-items: start;
}

inline[data-align="stretch"] {
	align-items: stretch;
}

inline[data-spread] {
	justify-content: space-between;
}

stack {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

stack[data-align="center"] {
	align-items: center;
}

stack[data-align="left"] {
	align-items: start;
}

key {
	font-family: monospace;

	--color: var(--text-color);

	color: var(--color);

	border: 2px solid var(--color);
	aspect-ratio: 1;
	width: 20px;
	display: inline;
	text-align: center;
}

key[data-pressed=true] {
	background-color: var(--color);
	color: var(--background-color);
}

*[data-gap="24"] {
	gap: 24px;
}

#producer-list {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

#blanket {
	background-color: var(--blanket-fill);
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.choice {
	background-color: var(--modal-fill);
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	padding: 36px 24px;
	border-radius: 8px;
	width: 200px;
	align-items: center;
	justify-content: space-between;
	row-gap: 24px;
}

.choice.oversize {
	width: 400px;
	padding-block: 24px;
}

button {
	min-width: 140px;
	padding: 4px 12px;
	background-color: transparent;
	color: var(--text-color);
	border: 2px solid var(--text-color);
	border-radius: 2px;
}

button:not(:disabled):hover {
	border-color: var(--border-button-hover);
}

button:not(:disabled):active {
	border-color: var(--border-button-pressed);
}

button:disabled {
	opacity: 0.5;
}

button.play-pause {
	width: 24px;
	min-width: 0px;
	height: 24px;
	padding: 2px;
	line-height: 16px;
	text-align: center;
	align-items: center;
	border-radius: 0px;
}
button.play-pause[data-paused="true"]::after {
	content: '⏸';
	color: var(--background-color);
	font-size: 1.5em;
}
button.play-pause[data-paused="true"] {
	background-color: var(--text-color);
}
button.play-pause[data-paused="false"]::after {
	content: '▶︎';
	font-size: 1.1em;
}
