body {
    background-color: #112;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

#main {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

*[data-hidden=true] {
    display: none !important;
}

inline {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

stack {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

key {
    font-family: monospace;

    --color: white;

    color: var(--color);

    border: 2px solid var(--color);
    aspect-ratio: 1;
    width: 20px;
    display: inline;
    text-align: center;
}

key[data-pressed=true] {
    background-color: var(--color);
    color: #112;
}

#producer-list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

#blanket {
    background-color: #0009;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blanket-placer {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
}

.choice {
    background-color: #224;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 36px 24px;
    border-radius: 8px;
    width: 200px;
    align-items: center;
    justify-content: space-between;
    row-gap: 24px;
}

button {
    min-width: 140px;
    padding: 4px 12px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 2px;
}

button:not(:disabled):hover {
    border-color: #0ff;
}

button:not(:disabled):active {
    border-color: #f0f;
}

button:disabled {
    opacity: 0.5;
}
